################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AGE/FileContentIndex
/.vs
/SEP_Age/.vs
/SEP_Age/.vs/ProjectEvaluation
